i{
    padding-left: 5px;
    padding-right: 5px;
}

input{
  font-size: 90%;
    border: 0px;
    border-radius: 5px;
    outline: none;
}

button
{
    border:none;
    background-color: rgb(206, 206, 206);
    outline:none
}
button:focus{
    outline: none;
}

.input-container{
    background-color: rgb(206, 206, 206);
}
 /* /////////////////////////// */
