<div class="chatbox">
    <div class="p-0 container" style="background-color: white;">
        <div class="header">
            <div class="d-flex align-items-center px-4 py-1">
                <!-- <div class="toggleUsersList ">
                    <div class="burger" (click)="toggleUsersList(this)" [ngClass]="{'change':toggle}" >
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div> 
                      </div>
                </div> -->
                <div class="">
                    <!-- #change -->
                    <h5 class="m-0 py-1" >Chatbot</h5>
                </div>
                <div class="flex-fill"></div>
                <div class="close-button" (click)="closeChat()" ></div>
                <!-- <div class="rounded-circle" style="background-color: white;">
                    <img src="../../assets/menu.svg" alt="" style="height: 20px;" >
                </div> -->
            </div>
        </div>
        <div class="col-room p-0">
            <div class="room-container d-flex flex-column  ">
                <div #scroller class="flex-fill messages-container">
                    <app-feed></app-feed>
                </div>
                <div class="form-container">
                    <app-msgform></app-msgform>
                </div>
            </div>
        </div>
    </div>
</div>