.msg
{
    height: auto;
    max-width: 90%;
    background-color: #f0f0ec;
    border-radius: 5px;
}

h6{
    padding: 0;
    margin: 0;
}

.msg2
{
    height: auto;
    max-width: 90%;
    /* background-color: #dbf2f5; */
    background-color:#2860fa;
    border-radius: 5px;
    color: white;
}

.notify{
    color: whitesmoke;
    background-color: #278ea594  ;
    text-align: center;
    border-radius: 5px;
}

 i {
    padding: 1px;
}
h5{
    font-weight: 400 ;
    margin:0;
    border: 0;
    word-break: break-all;
    word-wrap: break-word;
}

.item {
    font-weight: 120%;
    font-size: 85%;
}

.item2 {
    
    font-size: 85%;
}

.mdp{
    width: 45px;
}

/* media */

.msgImage{
    max-height: 200px;
}
.msgVideo{
    max-width: 70%;
    max-height: 200px;
}

audio{
    width: 100%;
    box-shadow: 2px 2px 10px 0px rgba(0,0, 0, 0.4);
    border-radius: 15px;
}
audio:focus{
    outline: none;
}